// COLORS
$color__primary: #00B0D7;
$color__primary--dark: #0079aa;
$color__primary--light: #69D0E6;

$color__primary--alt: #8C4751;

$color__gray--light: #efefef;
$color__gray: #888;
$color__gray--dark: #4A4A4A;

/* TYPOGRAPHY */
$font__family--serif: 'Quattrocento', serif;
$font__family--sans: 'Julius Sans One', sans-serif;
$font__family--alt: 'Montserrat', sans-serif;
// Font Sizes
$font__size--base: 1em;
// Line height
$font__line-height: 1.5;
// baseline rhythm
$vr: $font__size--base * $font__line-height;
// Font Colors
$font__color--base: $color__gray--dark;
$font__color--action: $color__primary;

// Modular Scale
$ms-base: 1em;
$ms-ratio: $fourth;

// Breakpoints
$breakpoints: (
  small: 600px,
  medium: 725px,
  large: 910px,
  xl: 1125px
);

// Typi
$typi: (
  null: (16px, 1.5),
  small: 18px,
  medium: 18px,
  large: 20px,
  xl: 20px
);
// If you use breakpoint
$typi-breakpoint: breakpoint;

// Animations
$transition__duration--base: 150ms;
$transition__timing--base: ease;

// General
$site__min-width: em(1024);
