.about {
  @extend %section-padding;
  lost-center: $site__min-width;
  text-align: center;
  margin-bottom: 1.5em;

  &__blurb {
    lost-column: 1/1;
    @include breakpoint($medium) {
      lost-column: 8/12;
      lost-move: 2/12;
    }
  }

}
