.director {
  background: url(../assets/images/metrics.jpg) center center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../assets/images/metrics.jpg) left center no-repeat;
  background-size: cover;
  padding: modular-scale(4) 0;

  &__heading {
    color: $color__gray--light;
  }
}

.metrics {
  @extend %section-padding;
  lost-center: $site__min-width;

  &__item {
    font-family: $heading-font-family;
  }
}

.metric {
  @include breakpoint($small) {
    lost-column: 1/4;
  }

  &__count {
    font-size: modular-scale(4);
    color: $color__primary;
    display: block;
  }

  &__info {
    color: $color__gray--light;
    text-transform: uppercase;
  }

  &__icon {
    @include size(15px);
    position: relative;
    top: 2px;
  }

  /* target all icons with attribute wildcard selector that searches for "begins with..." */
  [class^="metric__icon-"] {
    @include size(15px);
    fill: $color__gray--light;
  }

  &__name {
  }

}
