<section id="contact" class="contact">
  <form id="contact-form" class="contact-form" action="post">
    <div class="contact-form__container contact-form__container--left">
      <input id="name" class="contact-form__name required" name="name" placeholder="NAME" type="text">
      <input id="name" class="contact-form__email required" name="email" placeholder="EMAIL" type="text">
      <input id="subject" class="contact-form__subject required" name="subject" placeholder="SUBJECT" type="text">
    </div>
    <div class="contact-form__container contact-form__container--right">
      <textarea id="message" class="contact-form__message required" name="message" placeholder="MESSAGE"></textarea>
    </div>
    <input class="contact-form__button" type="submit">
  </form>
</section>
