<section id="contact" class="o-section o-section--alt">
  <h2 class="o-section__heading o-section__heading--alt">Contact</h2>
  <div class="l-container">

    <form id="js-contactForm" class="c-contact-form">

      <div class="c-contact-form__container">
        <span class="c-contact-form__item c-input">
          <input class="c-input__field" id="input-name" type="text" name="name">
          <label class="c-input__label" for="input-name">Your Name</label>
        </span>

        <span class="c-contact-form__item c-input">
          <input class="c-input__field" id="input-email" type="email" name="_replyto">
          <label class="c-input__label" for="input-email">
						<span class="c-input__label-content" data-content="Your Email">Your Email</span>
					</label>
        </span>

        <span class="c-contact-form__item c-input">
          <input class="c-input__field" id="input-subject" type="text" name="subject">
          <label class="c-input__label" for="input-subject">
						<span class="c-input__label-content" data-content="Subject">Subject</span>
					</label>
        </span>
        <input type="text" name="_gotcha" style="display:none" />

      </div>

      <div class="c-contact-form__container">
        <span class="c-contact-form__item c-input">
          <textarea class="c-input__field" id="input-message" name="message" cols="30" rows="6"></textarea>
          <label class="c-input__label c-input__label--textarea" for="input-message">Message</label>
        </span>
      </div>

      <button class="c-contact-form__submit c-button" type="submit">Send</button>
    </form>

  </div>
</section>
<!-- Hidden message to show if contact is successful. -->
<div id="submit-success" class="collapse">
  Message received! I'll be in touch.
</div>

<!-- Hidden message to show if user encounters errors. -->
<div id="submit-errors" class="collapse">
  It looks like there was an error submitting the form.
  Please try again later.
</div>
