<footer class="o-section c-footer">
  <div class="l-container">
    <h3 class="c-footer__heading">Find me on social media</h3>
      <ul class="o-list c-footer__icons">
        <li class="o-list__item"><a href="https://www.facebook.com/alistair.cook.9678" target="_blank">{% include svg.html class="c-icon c-footer__icon" icon="facebook" %}</a></li>
        <li class="o-list__item"><a href="https://twitter.com/alistairdcook">{% include svg.html class="c-icon c-footer__icon" icon="twitter" %}</a></li>
      </ul>
  </div>
  <div><p style="font-size:.6em;">Site built by Rene Dellefont</p></div>
</footer>
