<header role="banner" class="header">
  <div class="header__container">
    <button type="button" class="button button--hamburger nav__toggle" id="nav-toggle" data-func="open_nav">
      <span class="button--hamburger__icon-bar"></span>
      <span class="button--hamburger__icon-bar"></span>
      <span class="button--hamburger__icon-bar"></span>
      <span class="button--hamburger__icon-bar"></span>
      <span class="sr">Toggle navigation</span>
    </button>
    <nav role="navigation" aria-label="primary" class="nav nav--primary">
      <ul id="nav-list" class="nav__list">
        {% for item in site.data.nav %}
        <li class="nav__item"><a href="{{item.url}}" class="nav__link">{{item.name}}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
<!--
header.navigation
  div.navigation-wrapper
    a.navigation-menu-button#js-mobile-menu
    nav
      ul.navigation-menu.show#js-navigation-menu
        li.nav-link
-->
