<section id="experience" class="experience">
  <h1>Experience</h1>
  {% assign sorted = (site.data.timeline | sort: 'date') %}

  <div class="timeline">
    <div class="timeline__container">
      {% for item in sorted %}
      <div class="timeline__item">
        <span class="timeline__dot"></span>
        <div class="timeline__box {% cycle 'timeline__box--left', 'timeline__box--right' %}">
          <span class="timeline__date">{{item.date | date: '%B %Y'}}</span>
          <h3 class="timeline__event">{{item.event}}</h3>
          <h4 class="timeline__role">{{item.role}}</h4>
          <p class="timeline__blurb">{{item.blurb}}</p>
        </div><!-- end .timeline__item__box -->
      </div><!-- end .timeline__item -->
      {% endfor %}
    </div><!-- end .timeline__container -->

  </div><!-- end .timeline -->
</section><!-- end .experience -->
