//@include breakpoint-set('to ems', true);
* { box-sizing: border-box; }

html {
  height: 100%;

  font-family: $font__family--serif;
  color: $font__color--base;

  /*@media (min-width: 55em) {
    font-size: 135%;
  }*/
  /*@include breakpoint($large) {
    font-size: 125%;
  }*/
}

body {
  /*background-image: linear-gradient(pink 1px, transparent 1px);
  background-size: 100% .75em;
  background-position-y: -8px;
  background-color: $color__gray--light;*/
}
