.c-footer {
  padding-top: vr(.5);
  padding-bottom: vr(.5);

  background-color: $color__primary--dark;

  &__heading {
    display: inline-block;
    margin-bottom: vr(.5);

    font-size: ms(-1);
    line-height: vr(1);
    color: #fff;

    border-bottom: 1px solid #fff;
  }

  &__icon {
    @include size(20px);
  }

}

/* Old Icon Code */
/*
&__icon {
  @include size(20px);
  //background-color: purple;
  // target all icons with attribute wildcard selector that searches for "begins with..."
  [class^="footer__icon-"] {
    @include size(20px);
    fill: #fff;
    display: block;
    //background-color: green;
  }
}
*/
