.c-contact-form {
  display: block;

  &__container {
    @include respond-to(medium) {
      lost-column: 1/2;
    }
  }

  &__errors {
    display: none;
    margin-bottom: 2em;
    padding: 10px;

    color: red;

    background-color: #fff;
    border: 2px solid $color__primary--dark;

    list-style: none;
  }

  &__item {
    margin-bottom: vr(1.75);
  }

  &__submit {
    float: right;
  }

}
