.c-input {
	position: relative;
	z-index: 1;

	display: inline-block;
  width: 100%;

	vertical-align: top;

  &__field {
  	position: relative;

  	display: block;
    float: right;
    width: 100%;
    padding: 0.8em;

  	font-size: ms(-1);
		font-weight: 400;
    color: #aaa;

    background-color: $color__primary--light;
    border: 2px solid transparent;
  	border-radius: 0;

    transition: background-color 0.25s, border-color 0.25s;
  	-webkit-appearance: none; /* for box shadows to show on iOS */

    &:focus {
    	outline: none;
    }
  }

  &__label {
    position: absolute;
    bottom: 100%;

    display: inline-block;
  	float: right;
    width: 100%;
    overflow: hidden;

    font-family: $font__family--sans;
  	font-size: ms(-1);
    font-weight: bold;
    text-align: left;
    color: $color__primary--dark;
  	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-touch-callout: none;
  	user-select: none;

    pointer-events: none;
    transform: translate3d(0, 3em, 0);
    transition: transform 0.25s ;
    transition-timing-function: ease-in-out;

  }

  &__label-content {
  	position: relative;

  	display: block;
  	width: 100%;
    padding: 0.25em 0;

    color: $color__primary--dark;

    transition: transform 0.25s;
    transition-timing-function: ease-in-out;

    &:after {
      position: absolute;
      bottom: 100%;
      left: 0;

      padding: 0.25em 0;
      width: 100%;
      height: 100%;


      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $color__gray--light;
      content: attr(data-content);
    }
  }
}


.c-input__field:focus + .c-input__label,
.c-input.is-filled .c-input__label {
	transform: translate3d(0, 0, 0);
}

.c-input__field:focus + .c-input__label .c-input__label-content,
.c-input.is-filled .c-input__label-content {
	transform: translate3d(0, 100%, 0);
}

.c-input__field:focus,
.c-input.is-filled .c-input__field {
	background-color: $color__gray--light;
	border-color: $color__primary--dark;
}





/*
.c-input {
  display: block;
  width: 100%;
  padding: vr(.25);
  font-size: ms(0);
  font-family: $font__family--serif;
  border: 1px solid $color__primary--dark;
  //border-radius: 5px;
  //box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
  color: $color__gray;

  &--textarea {
    max-width: 100%;
  }
}
*/
