.o-section {
  position: relative;
  padding-top: vr(2);
  padding-bottom: vr(2);

  &--gray {
    background-color: $color__gray--light;
  }

  &--alt {
    background-color: $color__primary;
  }

  &--divider {
    position: relative;

    &:after {
      @include section-divider($color__gray, 20%);
    }
  }

  &__heading {
    text-align: center;

    &--alt {
      color: $color__gray--light;
    }
  }

  &__blurb {
    text-align: center;
  }

}
