.hero {
  background: #000 url('../assets/images/hero.jpg') no-repeat center;
  background-size: contain;
  background-position: bottom right;
  height: 100vh;
  color: white;
  padding: 30vh 0;

  &__intro {
    lost-center: $site__min-width;
    line-height: 1;
    font-family: $heading-font-family;
    padding: 0 0 0 em(10);
  }

  &__heading {
    font-size: em(48);
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;

    @include breakpoint($medium) {
      font-size: em(80);
    }
  }

  &__subheading {
    font-size: em(18);
    margin: 0;
  }

}
