.metrics {

  &__item {
    position: relative;
    font-family: $font__family--sans;
    color: $color__gray;
    margin-bottom: vr(3);

    @include respond-to(large) {
      lost-column: 1/4;
      margin-bottom: 0;
    }

    &:not(:last-child):after {
      @include respond-to(large) {
        background: $color__gray;
        width: 1px;
        content: "";
        display:block;
        position: absolute;
        top:0;
        bottom: 0;
        right: 0;
        min-height: 70px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

}

.metric  {
  text-align: center;

  &__count {
    display: block;
    font-size: ms(4);
    font-weight: 400;
    line-height: vr(2);
  }

  &__name {
    display: inline-block;
    border-bottom: 1px solid $color__gray;
    @include respond-to(large) {
      border-bottom: none;
    }

  }
}
