.footer {
  background-color: $color__primary--dark;
  padding-top: vr(.5);
  padding-bottom: vr(.5);

  &__heading {
    font-size: ms(-1);
    color: #fff;
    border-bottom: 1px solid #fff;
    display: inline-block;
    margin-bottom: vr(.5);
    line-height: vr(1);
  }

  &__container {
    @extend %container;
    //white-space: nowrap;
    //background-color: red;
  }

  &__icons {
    list-style: none;

    li {
      float: left;
      margin-right: vr(.5);
    }
  }

  &__icon {
    @include size(20px);
    //background-color: purple;
    /* target all icons with attribute wildcard selector that searches for "begins with..." */
    [class^="footer__icon-"] {
      @include size(20px);
      fill: #fff;
      display: block;
      //background-color: green;
    }
  }
}
