.section {
  @extend %section__padding;

  &--alt {
    background-color: $color__primary;
  }

  &--gray {
    background-color: $color__gray--light;
  }

  &__container {
    @extend %container;
  }

  &__heading {

    &--alt {
      color: white;
      margin-bottom: vr(2);
    }
  }

}
