.header {
  position: fixed;
  width: 100%;
  min-width: 320px;
  height: $navigation-height;
  font-family: $heading-font-family;
  text-transform: uppercase;
  background-color: #000;
  z-index: 3;

  &__container {
    @extend %container;
    @extend %section-padding;
    background: #000;
  }
}
